<% include ../partials/index-header %>

<script src="scripts.js"></script>

<div class="jumbotron text-center">
  <div class="logo">
      <img src="/Picniic Logo Draft 3@2x.png" alt="Picniic Logo" style="width:375px;height:225px;">
  </div>
  <div class="page-header">
    	<h1>Campus Meet and Eat</h1>
  </div>
  <p class="lead">Meet others on campus to eat lunch at times that are convienent for you!</p>

</div>



<div class="container">
  <h2>Events</h2>
    <div class="list-group">
      <a class="list-group-item" id="hour7" data-toggle="collapse" data-target="#demo1">7:00 - 7:59 AM<span class="badge">0</span></a>
        <div id="demo1" class="collapse">
          <!-- <p>Pret a Manger</p>
                <ul>
                <li>4 people</li>
              </ul>
          <p>Houston Market</p>
            <ul>
                <li>2 people</li>
              </ul> -->
    </div>
  </div>
  <div class="list-group">
      <a class="list-group-item" id="hour8" data-toggle="collapse" data-target="#demo2">8:00 - 8:59 AM<span class="badge">0</span></a>
        <div id="demo2" class="collapse">
          <!-- <p>Pret a Manger</p>
                <ul>
                <li>4 people</li>
              </ul>
          <p>Houston Market</p>
            <ul>
                <li>2 people</li>
              </ul> -->
    </div>
  </div>

  <div class="list-group">
      <a class="list-group-item" id="hour9" data-toggle="collapse" data-target="#demo3">9:00 - 9:59 AM<span class="badge">0</span></a>
        <div id="demo3" class="collapse">
          <!-- <p>Pret a Manger</p>
                <ul>
                <li>4 people</li>
              </ul>
          <p>Houston Market</p>
            <ul>
                <li>2 people</li>
              </ul> -->
    </div>
  </div>

  <div class="list-group">
      <a class="list-group-item" id="hour10" data-toggle="collapse" data-target="#demo4">10:00 - 10:59 AM<span class="badge">0</span></a>
        <div id="demo4" class="collapse">
          <!-- <p>Pret a Manger</p>
                <ul>
                <li>4 people</li>
              </ul>
          <p>Houston Market</p>
            <ul>
                <li>2 people</li>
              </ul> -->
    </div>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour11" data-toggle="collapse" data-target="#demo5">11:00 - 11:59 AM<span class="badge">0</span></a>
    <div id="demo5" class="collapse">
      <!-- <p>Pret a Manger</p>
      <ul>
          <li>4 people</li>
        </ul>
      <p>Houston Market</p>
      <ul>
          <li>2 people</li>
        </ul> -->
    </div>
  </div>
  <div class="list-group">
    <a class="list-group-item" id="hour12" data-toggle="collapse" data-target="#demo6">12:00 - 12:59 PM<span class="badge">0</span></a>
      <div id="demo6" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour13" data-toggle="collapse" data-target="#demo7">1:00 - 1:59 PM<span class="badge">0</span></a>
      <div id="demo7" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour14" data-toggle="collapse" data-target="#demo8">2:00 - 2:59 PM<span class="badge">0</span></a>
      <div id="demo8" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour15" data-toggle="collapse" data-target="#demo9">3:00 - 3:59 PM<span class="badge">0</span></a>
      <div id="demo9" class="collapse">
       <!--  <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour16" data-toggle="collapse" data-target="#demo10">4:00 - 4:59 PM<span class="badge">0</span></a>
      <div id="demo10" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour17" data-toggle="collapse" data-target="#demo11">5:00 - 5:59 PM<span class="badge">0</span></a>
      <div id="demo11" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>-->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour18" data-toggle="collapse" data-target="#demo12">6:00 - 6:59 PM<span class="badge">0</span></a>
      <div id="demo12" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour19" data-toggle="collapse" data-target="#demo13">7:00 - 7:59 PM<span class="badge">0</span></a>
      <div id="demo13" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour20" data-toggle="collapse" data-target="#demo14">8:00 - 8:59 PM<span class="badge">0</span></a>
      <div id="demo14" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour21" data-toggle="collapse" data-target="#demo15">9:00 - 9:59 PM<span class="badge">0</span></a>
      <div id="demo15" class="collapse">
        <!-- <a href=""><font color=000000>Pret a Manger</font></a>
            <ul>
              <li>4 people</li>
            </ul>
        <a href=""><font color=000000>Houston Hall</font></a>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
    <div class="list-group">
    <a class="list-group-item" id="hour22" data-toggle="collapse" data-target="#demo16">10:00 - 10:59 PM<span class="badge">0</span></a>
      <div id="demo16" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
  </div>
</div>
  <div class="list-group">
    <a class="list-group-item" id="hour23" data-toggle="collapse" data-target="#demo17">11:00 - 11:59 PM<span class="badge">0</span></a>
      <div id="demo17" class="collapse">
        <!-- <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul> -->
      </div>
  </div>
</div>

<!-- dynamically update event info by querying database. -->
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script type="text/javascript">

  // Initialize Firebase
  var config = {
      apiKey: "AIzaSyB-kYY6GjxJyLOo5a3WjwWy4Wton330Qqc",
      authDomain: "pennapps-xvi-243c1.firebaseapp.com",
      databaseURL: "https://pennapps-xvi-243c1.firebaseio.com",
      projectId: "pennapps-xvi-243c1",
      storageBucket: "",
      messagingSenderId: "277333402514"
      };
  firebase.initializeApp(config);

  var database = firebase.database();
  var eventsJSON;
  database.ref('/events/').once('value').then(function(snapshot) {
        eventsJSON = snapshot.val();
        console.log(eventsJSON);
        // document.getElementById("testLive").innerHTML = JSON.stringify(eventsJSON, null, 4);
        for (var eventName in eventsJSON) {
          // console.log(typeof(event))
          let link = document.createElement('a');
          
          let title = document.createElement('h4');
          title.innerHTML = "" + eventName;
          link.append(title);
          
          let time = document.createElement('p')
          time.innerHTML = eventsJSON[eventName].hour + ":" + eventsJSON[eventName].minute + eventsJSON[eventName].ampm.toUpperCase();
          link.append(time);

          let location = document.createElement('p')
          location.innerHTML = "Location: " + eventsJSON[eventName].location;
          link.append(location);

          let ppl = document.createElement('p');
          if (eventsJSON[eventName].numPeople == 0) {
            ppl.innerHTML = "Event is full!";
          }
          else if (eventsJSON[eventName].numPeople == 1) {
            ppl.innerHTML = "Room for " + eventsJSON[eventName].numPeople + " more person";
          }
          else {
            ppl.innerHTML = "Room for " + eventsJSON[eventName].numPeople + " more people";
          }
          link.append(ppl);

          let description = document.createElement('p');
          description.innerHTML = eventsJSON[eventName].description;
          link.append(description);

          link.href = '/events/' + eventName;
          // link.innerHTML = JSON.stringify(eventsJSON.test, null, 4);
          
          // determine under which time to put the link under
          var hours24;
          var hours12 = Number(eventsJSON[eventName].hour);
          if (eventsJSON[eventName].ampm == 'am') {
            if (hours12 == 12) {
              // hour starts with 12 am
              hours24 = hours12 - 12;
            }
            else {
              hours24 = hours12;
            }
          }
          else { 
            if (hours12 == 12) {
              // hour starts with 12 pm
              hours24 = hours12;
            }
            else {
              hours24 = Number(eventsJSON[eventName].hour) + 12;
            }
          }
          hours24 = Number(hours24);
          let demoID = "demo" + (hours24 - 6); //6 is a magic number because of the way the label and the demo id are incremented in parallel.
          

          // add button to join event (toggle)
          let joinEvent = document.createElement('button')
          joinEvent.innerHTML = 'Join event'
          var joinedEvent = false;
          joinEvent.onclick = function(event) {
            joinedEvent = !joinedEvent;
            let numPeopleLeft = database.ref('/events/' + eventName).numPeople;
            if (joinedEvent) {
              // just joined event
              joinEvent.innerHTML = 'Leave event'
              joinEvent.style.backgroundColor = 'red';
              numPeopleLeft.set(Number(numPeopleLeft.val()) - 1)
            }
            else {
              // just left event
              joinEvent.innerHTML = 'Join event'
              joinEvent.style.backgroundColor = 'white'
              numPeopleLeft.set(Number(numPeopleLeft.val()) + 1)
            }
          }
          // link.append(joinEvent);

          document.getElementById(demoID).append(link);
          document.getElementById(demoID).append(joinEvent);
        }
        // var link = document.createElement('a');
        // link.innerHTML = 'a'
        // document.getElementById('demo13').append(link);
  });

  function decrement() {

  }
</script>
<% include ../partials/footer %>
