<% include ../partials/index-header %>

<script src="scripts.js"></script>

<div class="jumbotron text-center">
  <div class="logo">
      <img src="/Picniic Logo Draft 3@2x.png" alt="Picniic Logo" style="width:375px;height:225px;">
  </div>
  <div class="page-header">
    	<h1>Campus Meet and Eat</h1>
  </div>
  <p class="lead">Meet others on campus to eat lunch at times that are convienent for you!</p>

</div>

<div class="container">
  <h2>Events</h2>
  <div class="list-group">
    <a class="list-group-item" id="hour11" data-toggle="collapse" data-target="#demo1">11:00 - 11:59 AM</a>
  <div id="demo1" class="collapse">
    <!-- <p>Pret a Manger</p>
    <ul>
        <li>4 people</li>
      </ul>
    <p>Houston Market</p>
    <ul>
        <li>2 people</li>
      </ul> -->
  </div>
  <div class="list-group">
    <a class="list-group-item" id="hour12" data-toggle="collapse" data-target="#demo2">12:00 - 12:59 PM</a>
      <div id="demo2" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour13" data-toggle="collapse" data-target="#demo3">1:00 - 1:59 PM</a>
      <div id="demo3" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour14" data-toggle="collapse" data-target="#demo4">2:00 - 2:59 PM</a>
      <div id="demo4" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour15" data-toggle="collapse" data-target="#demo5">3:00 - 3:59 PM</a>
      <div id="demo5" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour16" data-toggle="collapse" data-target="#demo6">4:00 - 4:59 PM</a>
      <div id="demo6" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour17" data-toggle="collapse" data-target="#demo7">5:00 - 5:59 PM</a>
      <div id="demo7" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour18" data-toggle="collapse" data-target="#demo8">6:00 - 6:59 PM</a>
      <div id="demo8" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour19" data-toggle="collapse" data-target="#demo9">7:00 - 7:59 PM</a>
      <div id="demo9" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour20" data-toggle="collapse" data-target="#demo10">8:00 - 8:59 PM</a>
      <div id="demo10" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour21" data-toggle="collapse" data-target="#demo11">9:00 - 9:59 PM</a>
      <div id="demo11" class="collapse">
        <a href=""><font color=000000>Pret a Manger</font></a>
            <ul>
              <li>4 people</li>
            </ul>
        <a href=""><font color=000000>Houston Hall</font></a>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

    <div class="list-group">
    <a class="list-group-item" id="hour22" data-toggle="collapse" data-target="#demo12">10:00 - 10:59 PM</a>
      <div id="demo12" class="collapse">
        <p>Pret a Manger</p>
              <ul>
              <li>4 people</li>
            </ul>
        <p>Houston Market</p>
          <ul>
              <li>2 people</li>
            </ul>
  </div>

  <div class="list-group">
    <a class="list-group-item" id="hour22" data-toggle="collapse" data-target="#demo13">11:00 - 11:59 PM</a>
      <div id="demo13" class="collapse">
        
      </div>
  </div>
</div>

<!-- dynamically update event info by querying database. -->
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script type="text/javascript">

  // Initialize Firebase
  var config = {
      apiKey: "AIzaSyB-kYY6GjxJyLOo5a3WjwWy4Wton330Qqc",
      authDomain: "pennapps-xvi-243c1.firebaseapp.com",
      databaseURL: "https://pennapps-xvi-243c1.firebaseio.com",
      projectId: "pennapps-xvi-243c1",
      storageBucket: "",
      messagingSenderId: "277333402514"
      };
  firebase.initializeApp(config);

  var database = firebase.database();
  var eventsJSON;
  database.ref('/events/').once('value').then(function(snapshot) {
        eventsJSON = snapshot.val();
        console.log(eventsJSON);
        // document.getElementById("testLive").innerHTML = JSON.stringify(eventsJSON, null, 4);
        for (var eventName in eventsJSON) {
          // console.log(typeof(event))
          let link = document.createElement('a');
          
          let title = document.createElement('h4');
          title.innerHTML = "" + eventName;
          link.append(title);
          
          let ppl = document.createElement('p');
          ppl.innerHTML = eventsJSON[eventName].numPeople;
          link.append(ppl);

          link.href = '/events/' + eventName;
          // link.innerHTML = JSON.stringify(eventsJSON.test, null, 4);
          document.getElementById('demo1').append(link);
        }
        // var link = document.createElement('a');
        // link.innerHTML = 'a'
        // document.getElementById('demo13').append(link);
  });
</script>
<% include ../partials/footer %>
