<!-- used for creating a new event -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!-- form goes here, with text fields and button to submit -->
<button id='create'>test</button>
<script type='createNew.js'></script>
</body>
</html>