<!-- used for creating a new event -->
<% include ../partials/header %>
<!-- form goes here, with text fields and button to submit -->
 <div class="page-header" style="padding-left:25px;">
  <h1>Create New Event <small>Required fields have an asterisk * by them</small></h1>
 </div>
  <form action="/new" method="post" class="form-horizontal">
    <div class="form-group jumbotron">
        <div class="col-sm-10" style="padding-left:100px;">
            <label class="control-label width:30%" for="pwd">Event name *</label>
            <input name='Event name' type="text" class="form-control" placeholder="Event name" style="width:70%">
            <label class="control-label width:30%" for="pwd">Number of people *</label>
            <input name='numPeople' type="text" class="form-control" placeholder="Number of people" style="width:70%">
            <label class="control-label width:30%" for="pwd">Location *</label>
            <input name='Location' type="text" class="form-control" placeholder="Location" style="width:70%">
            <label class="control-label width:30%" for="pwd">Time *</label>
            <input name='Hour' type="number" class="form-control" placeholder="Hour">
            <input name='Minute' type="number" class="form-control" placeholder="Minute">
            <select>
              <option value="am">AM</option>
              <option value="pm">PM</option>
            </select>
            <label class="control-label width:30%" for="pwd">Description</label>
            <input name='Description' type="text" class="form-control" placeholder="Description" style="width:70%">
            <label class="control-label width:30%" for="pwd">Event Passcode (to edit/ delete events) *</label>
            <input name='Event Passcode (to edit/ delete events)' type="text" class="form-control" placeholder="Event Passcode (to edit/ delete events)" style="width:70%">
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <!-- <input name='numPeople' type="text" class="form-control" placeholder="Number of people" style="width:70%"> -->
      </div>
    </div>
    <div class="form-group" style="text-align: center;>
      <div class="col-sm-offset-2 col-sm-10" ">
        <button id="create" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

 <!-- <script src='createNew.js'></script> -->
<% include ../partials/footer %>
