<!-- used for creating a new event -->
<% include ../partials/header %>
<!-- form goes here, with text fields and button to submit -->
  <h1>Create New Event</h1>
  <h4>Required fields have an asterisk * by them</h4>
  <form action="/new" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10">
            <label class="control-label width:30%" for="pwd">Name *</label>
            <input name='name' type="text" class="form-control" placeholder="Name" style="width:70%">
            <label class="control-label width:30%" for="pwd">Number of people *</label>
            <input name='numPeople' type="text" class="form-control" placeholder="Number of people" style="width:70%">
            <label class="control-label width:30%" for="pwd">Location *</label>
            <input name='Location' type="text" class="form-control" placeholder="Location" style="width:70%">
            <label class="control-label width:30%" for="pwd">Time *</label>
            <input name='Time' type="text" class="form-control" placeholder="Time" style="width:70%">
            <label class="control-label width:30%" for="pwd">Description</label>
            <input name='Description' type="text" class="form-control" placeholder="Description" style="width:70%">
            <label class="control-label width:30%" for="pwd">Event Passcode (to edit/ delete events) *</label>
            <input name='Event Passcode (to edit/ delete events)' type="text" class="form-control" placeholder="Event Passcode (to edit/ delete events)" style="width:70%">
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <!-- <input name='numPeople' type="text" class="form-control" placeholder="Number of people" style="width:70%"> -->
      </div>
    </div>
    <div class="form-group" style="text-align: center;>
      <div class="col-sm-offset-2 col-sm-10" ">
        <button id="create" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

 <!-- <script src='createNew.js'></script> -->
<% include ../partials/footer %>
